{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div id="entete">
        <div id="enteteLien">
            <div id="blocLienUserHome">
              {{ form(form)}}
            </div>
        </div>
    </div>
    	<a href="#containerArticle"><i id="flecheBasse" class="fas fa-chevron-down"></i> </a>
</section>
<section id="sectionCreateTrick">
    <div id="divCreateTrick">
         <a class="customLien" href="/new/"> Créer un trick </a>
    </div>
</section>
<section>
	<div id="containerArticle">
		{% for	advert in listAdverts %}
        	<div class="contenairDiv">
            	<div class="imageContenairPost">
                <div class="customDivIcon">
                    <a class="customIcon" href='/update/{{ advert.titre}} '><i class="fas fa-pen"></i></a>
                    <a class="customIcon" href='/delete/{{ advert.titre}} '><i class="fas fa-trash-alt"></i></a>
                </div>
              </div>
				<article class="contenairPost">
                	<h4 class="titre">{{ advert.titre }}</h4>
                	<p class="contenu">{{ advert.texte[1:40] }}</p>
                	<p class="auteur"> {{ advert.dateCreation|date("m/d/Y")}} </p>
                	<p class="lien"><a class="customLien" href='/show/{{ advert.titre}}'>Lire la suite</a></p>
				</article>
			</div>
		{% endfor %}
    </div>
</section>

{% if listAdverts|length > 8 %}
 	<a href="#navTitre"><i id="flecheHaute" class="fas fa-chevron-up"></i> </a>
{% endif %}

{% endblock %}
