{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div id="enteteShowTrick"></div>
</section>
<section id="show">
  <div id="containerShow">
    <div class="contenairDivShow">
        <div id="mediaTrick">

        <div class="siema">
        {% if advert.lienImage != null %}

          	  {% for	image in advert.lienImage %}
                <div class="imgShowTrick"> 
                  <img src="{{ image }}" alt="Photo de montagne" title="C'est beau les Alpes quand même !" />
                </div>
		          {% endfor %}

        {% endif %}
        </div>

        <div class="siema">
        {% if advert.lienVideos != null %}

          	  {% for	video in advert.lienVideo %}
              <div class="videoShowTrick" >
                <iframe width="550" height="310" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
		          {% endfor %}

        {% endif %}
        </div>
      </div>

      <div>
          <div class="customDivIcon">
              <a class="customIcon" href='/update/{{ advert.slug}} '><i class="fas fa-pen"></i></a>
              <a class="customIcon" href='/delete/{{ advert.slug}} '><i class="fas fa-trash-alt"></i></a>
          </div>
        <h4 class="titreShow">{{ advert.titre }}</h4>

        <p class="dateShow"> {{ advert.dateCreation|date("m/d/Y")}}
          {% if advert.dateMiseAJour != null %} et mis à jour le
        {{ advert.dateMiseAJour|date("m/d/Y")}} {% endif %}.</p>
        
         <p class="texteShow">{{ advert.texte }}</p>
    </div>
    </div>
  </div>

  <aside>
    <div id="listComment">

  	  {% for	comment in listComments %}
        <div class="contenairComment">
          <div class="imageContenairPost" style="background-image: url('{{ comment.username.lienImage }}');"></div>
          <h4 class="commentPseudo">{{ comment.username.username }}</h4>
          <p class="commentTexte">{{ comment.texte }}</p>
			  </div>
        
		  {% endfor %}

      <div class="contenairFormComment">
        {{ form(form , { 'action': path("Comment.create")} ) }}
      </div>
    </div>
    
  </aside>
  

</section>

{% endblock %}
